body {
    background-color: #f2f3f5;
}

/* navigation starts*/

ul {
    width: fit-content;
    margin: -55px;
    margin-bottom: 35px;
    margin-left: 45%;
    padding: 7px;
}

li {
    list-style: none;
    display: inline;
}


li a {
    text-decoration: none;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #0b0b31;
    color: #f0ffff;
    border-radius: 6px;

    &:hover {
        background-color: #ff8901;
        color: #0b0b31;
    }
}



/* logo */
.imageBanner {
    width: 23%;
    height: 95px;
    margin-top: 60px;
    margin-left: 12%;
    padding: 0;
    background-image: url("../media/logo.png");
    background-size: contain;
    background-position-x: 2px ;
}
/* end logo */


/* navigation end */




/* begin main */



/* top banner */

.absoluteHeader {
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #0b0b31;
    padding-bottom: 8px;
}

.sites {
    list-style: none;
    display: inline;
    text-decoration: none;
    font-size: x-small;
    margin-left: 43%;
}

.sitenav a {
    text-decoration: none;
    padding-top: 10px;
    padding: 2px;
    color: #a9a9a9;
}


.split {
    text-decoration: none;
    float: left ;
    color: #a9a9a9;
    font-size: x-small;
    padding-left: 10%;
    margin-top: 5px;
    margin-left: 70px;
}

/* end of top banner */


/* grey circles */

.imageMain {
    width: 70%; 
    height: 514px;
    border-radius: 8px;
    background-image: url("../media/Think.png");
    background-size: contain;
    margin-left: 12%;
}

.circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #808080;
    margin-left: 47%;
    margin-top: 5px;
}

.circle:nth-child(2) { 
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #808080;
    margin-left: 49%;
}

.circle:nth-child(3)  {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #808080;
    margin-left: 51%;
}

/* end of grey circles */



/* Blog Post begins */

.flexMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 15%;
}


.infoPost {
    border-top: 2px solid #a9a9a9;
    border-right:2px solid #a9a9a9;
    font-size: xx-large;
}

.infoPost img {
    margin-left: 12px;
}

.infoPost p {
    font-size: medium;
    margin-left: 12px;
    padding: 5px;
    color: #a9a9a9;
}

.infoPost h2 {
    margin-left: 12px;
}

button {
    background-color: #0b0b31;
    color: #f0ffff;
    margin-left: 12px;
    margin-bottom: 10px;
    padding: 12px;
    border-radius: 6px;
    &:hover {
        background-color: #ff8901;
        color: #0b0b31;
    }
}

/* end of blog post */

.flexMain2 {
    width: fit-content;
    position: absolute;
    background-color: #0b0b31;
    margin: 0;
}

.closerBlog {

}

.closerBlog h3 {
    color: white;
}

.closerBlog p {
    color: #a9a9a9;
}

.service {
    color: #a9a9a9;
}